# ETHEREUM_RPC_URL - defaults to stroom provided. Set if want to use own
ETHEREUM_RPC_URL="https://ethereum.testnet.stroom.ninja:443"

# APP_VERSION - version of app which will be deployed
APP_VERSION=""

# APPROVAL_THRESHOLD - number of validators required to approve transaction.
# should be same for all validators. Determined during key generation ceremony 
APPROVAL_THRESHOLD=7

# BITCOIN_RPC_HOST - rpc host of bitcoind. Default to stroom provided bitcoind
BITCOIN_RPC_HOST="bitcoin.testnetv2.stroom.ninja:48332"
# BITCOIN_RPC_USER - user to access secured bitcoin rpc
# for stroom provided node should be requested separately
BITCOIN_RPC_USER="sampleUser"
# BITCOIN_RPC_PASSWORD - password to access secured bitcoin rpc
# for stroom provided node should be requested separately
BITCOIN_RPC_PASSWORD="samplePass"

# BITCOIN_CHAIN - bitcoin network which validator is operated in.
# valid options [simnet|signet|testnet|testnet4|regtest|mainnet] defaults to testnet4
# Should be same for all validators
BITCOIN_CHAIN="testnet4"

# ETHEREUM_START_HEIGHT - defines from where to watch for ethereum transactions
# all transaction on lower hight will be ignored
# Should be same for all validators
ETHEREUM_START_HEIGHT=7176028

# BITCOIN_START_HEIGHT - defines from where to watch for bitcoin transactions
# all transaction on lower hight will be ignored
# Should be same for all validators
BITCOIN_START_HEIGHT=55832

# NODE_PRIVATE_KEY - private key used for transactions signing
# gathered from key-generator
NODE_PRIVATE_KEY="samplenodeprivatekey0d5f7758a20da68e2bdc66fe946a96df2b892ba39e02"

# TENANT - name of validator used for tagging of metrics sent to stroom via telegraf
TENANT="exampleTenant"

# AWS_ROLE_ARN - stroom provided role arn for to send logs to cloudwatch
AWS_ROLE_ARN=""

# AWS_ACCESS_KEY_ID - stroom provided access key to send logs to cloudwatch
AWS_ACCESS_KEY_ID=""

# AWS_SECRET_ACCESS_KEY - stroom provided secret access key to send logs to cloudwatch
AWS_SECRET_ACCESS_KEY=""

# LOG_GROUP_NAME - stroom provided name of log group used for logs storage
LOG_GROUP_NAME=""

# LOG_LEVEL - validator log level. Valid options are: [debug|info|warn|error]
LOG_LEVEL="debug"
